{
    "all": true,
    "include": ["src/**/*.ts"],
    "exclude": ["**/*.d.ts", "src/main.ts", "test/**/*"],
    "reporter": ["text", "text-summary", "html", "lcov"],
    "check-coverage": false,
    "lines": 50,
    "statements": 50,
    "functions": 50,
    "branches": 50,
    "report-dir": "./coverage"
}
